

@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.header-items{
    @apply
    flex
    ml-2 
    py-3 
    px-2  
    font-semibold 
    text-red-50 
    border-b-2
    border-transparent  
    hover:text-red-300 
    hover:border-red-300 ;
}

.section-skills{
    @apply 
    flex 
    text-center 
    h-44
    w-44
    mr-5
    p-10
    text-lg 
    font-semibold
    border-2 
    justify-center
    items-center
    bg-red-300
    text-red-50
    rounded-large
    hover:items-center
    transition-all
    duration-1000 
    delay-100 
    hover:bg-transparent
    shadow-2xl 
    hover:shadow-red-300/40 
    hover:rounded-full
    hover:mb-16
  
}